{% extends 'base.html' %}

{% block title %}
<h2>Board</h2>
<p>This is Simple Board</p>
{% endblock %}

{% block content %}
<div id="content-top-menu" class="between border">
    <h2>{{ post.title }}</h2>
    <div id="content-info">
        <img id="profile-img" src="
        {%if post.profile_name %}
        {{ url_for('users.image_serve', filename = post.profile_name ) }}
        {% else %}
        /static/no-profile.png
        {% endif %}
        " alt="" srcset="">
        <div id="write-info">
            <p>{{ post.name }}</p>
            <p>{{ post.created_at }}</p>
        </div>
    </div>
</div>
<div id="content">
    <div id="text">
        {{ post.content }}
    </div>
    <div id="files_area">
        <p>첨부 파일</p>
        <div class="files_insert_area">
            {% for upload_file in upload_list %}
            <div class="file-box" onclick="location.href='{{ url_for('download', upload_id=upload_file.file_id) }}'">
                <p>{{ upload_file.file_name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="content-bottom-menu">
    {% if user.id == post.user_id %}
    <button id="delete_btn" style="background-color: #ff4444;">삭제하기</button>
    <button onclick="location.href='/posts/update/{{ post.post_id }}'">수정하기</button>
    {% endif %}
</div>
{% endblock %}

{% block custom_script %}
<script>

document.querySelector("#delete_btn").addEventListener("click", function(){
    if (confirm("정말 삭제하시겠습니까?")){
        var xhr = new XMLHttpRequest();
        var formData = new FormData();
        formData.append('post_id', {{ post.post_id }})

        xhr.onreadystatechange = function() {
            if (xhr.readyState === xhr.DONE) {
                if (xhr.status === 200 || xhr.status === 201) {
                    var json = JSON.parse(xhr.responseText)
                    alert("["+json['status']+"]\n"+json['msg'])
                    location.href=json['redirect_url']
                } else {
                    alert("[error]]\n"+xhr.responseText)
                }
            }
        };

        xhr.open('POST', '/posts/delete')
        xhr.send(formData);

    }
})

</script>
{% endblock %}