{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="content-top-menu">
    <form id="form-search" action="/posts" method="get">
        <select name="type" id="">
            <option value="search_all" {% if search_info.type == "seasrch_all" %} selected {% endif %}>전체</option>
            <option value="search_title" {% if search_info.type == "search_title" %} selected {% endif %}>제목</option>
            <option value="search_content" {% if search_info.type == "search_content" %} selected {% endif %}>내용</option>
        </select>
        <input type="text" name="search" placeholder="Search..." value="{% if search_info.search %}{{ search_info.search }}{% endif %}">
        <button type="submit" form="form-search">Search</button>
    </form>
</div>
<div id="content">
    <table>
        <colgroup>
            <col width="5%"/>
            <col width="60%"/>
            <col width="15%"/>
            <col width="20%"/>
        </colgroup>
        <thead>
            <tr>
                <th>#</th><th>제목</th><th>작성일</th><th>작성자</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            {# 
            <tr>
                <td></td><td>제목1</td><td>2024-05-27</td><td>작성자1</td>
            </tr>
            #}
            <tr onclick="location.href='/posts/view/{{ post.id }}'">
                <td>{{ post.id }}</td><td>{{ post.title }}</td><td>{{ post.created_at }}</td><td>{{ post.author }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="pagination">
    {% if pagination.has_prev %}
    <a href="/posts?page={{ pagination.page_group_start - 1 }}&type={{ search_info.type }}&search={{ search_info.search }}">&lt; 이전</a>
    {% endif %}
    {% for page in range(pagination.page_group_start - 1, pagination.page_group_end) %}
    <a href="/posts?page={{ page + 1 }}&type={{ search_info.type }}&search={{ search_info.search }}" class="{% if pagination.current_page == page + 1 %}active{% endif %}">{{ page + 1 }}</a>
    {% endfor %}
    {% if pagination.has_next %}
    <a href="/posts?page={{ pagination.page_group_end + 1 }}&type={{ search_info.type }}&search={{ search_info.search }}">다음 &gt;</a>
    {% endif %}
</div>
<div id="content-bottom-menu">
    <button onclick="location.href='/posts/write'">글쓰기</button>
</div>
{% endblock %}
