{% extends 'base.html' %}

{% block body %}
<body>
    <div class="wrap">
        <div id="main-area" style="justify-content: center; align-items: center;">
            <div id="content-area" style="width: 500px;">
                <div id="content-top-menu" class="center">
                    <h2>로그인</h2>
                </div>
                <div id="content">
                    <form action="">
                        <div class="form-item">
                            <label for="form-password">아이디(이메일)</label>
                            <input type="text" name="form-email" id="form-email" placeholder="이메일을 입력하세요.">
                        </div>
                        <div class="form-item">
                            <label for="form-password">비밀번호</label>
                            <input type="password" name="form-password" id="form-password" placeholder="비밀번호를 입력하세요.">
                        </div>
                    </form>
                </div>
                <div id="content-bottom-menu">
                    <button>회원가입</button>
                    <button>로그인</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}