/* table reset - https://kcmschool.com/106 */
table {
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
/* a reset - https://itmore.tistory.com/entry/CSS-a태그앵커태그-리셋 */
a {
    outline: none;
    text-decoration: none; color:#fff;
}
table th,
table td {
    padding:0;
}
/* select reset */
select {
    outline: 0;
    /* 화살표 위치이동 - https://stackoverflow.com/questions/42516658/down-arrow-on-active-tab-without-using-images-but-only-css-and-jquery */
    border-right: 10px solid;
    border-color: transparent;
}
/* input reset */
input {
    outline: 0;
}
body {
    padding: 10px;
    background-color: #e1ebf7;
}
.wrap{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #ffffff;
}
/* Side Area */
#side-area{
    display: flex;
    flex-direction: column;
    width: 230px;
}
#side-area > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#side-area > #logo-area{
}
#side-area > #logo-area > h1{
    color: #2a61ff;
}
#side-area > #profile-area{
    display: flex;
    flex-direction: row;
    background-color: #f2f6ff;
    padding: 5px 5px;
    color: #142c5c;
    border-radius: 50px;
    margin: 0px 10px 0px 30px; /* side-item 좌측 여백이 20px이라 10px + 20px */
    width: 180px;
    align-self: center;
}
#side-area > #profile-area > #profile-info{
    font-weight: bold;
}
#side-area > #profile-area > #profile-img{
    width: 50px;
    height: 50px;
    background-color: #eaeaea;
    border-radius: 100%;
    margin-right: 10px;;
}
#side-area > #sidebar{
    flex :1;
    padding: 20px 0px 0px 20px;
    font-size: 15px;
}
#side-area > #sidebar > .side-item{
    height:30px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    font-weight: bold;
    cursor: pointer;
}
#side-area > #sidebar > .side-item:hover{
    background-color: #f2f6ff;
    color: #2a61ff;
}
#side-area > #sidebar > .side-item.active{
    background-color: #f2f6ff;
    color: #2a61ff;
    border-left: 3px solid #2a61ff;
}
/* Main Area */
#main-area{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding:20px;
    background: #f2f6ff;
    border-radius: 0px 50px 50px 0px;
}
#main-area > #top-area{
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
#main-area > #top-area > #title{
}
#main-area > #top-area > #title > h2{
    color: #142c5c;
    margin: 0px;
    font-size:23px;
}
#main-area > #top-area > #title > p{
    color: #94a0b9;
    font-size:14px;
    margin: 0px;
}
#main-area > #content-area > #content-top-menu{
    display: flex;
    justify-content: flex-end;
}
#main-area > #content-area > #content-top-menu select{
    cursor: pointer;
    padding: 10px 15px;
    box-shadow: none;
    /* border: none; */
    border-radius: 10px;
    background-color: #f2f6ff;
    margin-right: 10px
}
#main-area > #content-area > #content-top-menu input{
    margin: 0;
    padding: 10px 15px;
    background: #f2f6ff;
    border: none;
    border-radius: 10px;
}
#main-area > #content-area > #content-top-menu button{
    background-color: #275efe;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 0px 10px;
}
#main-area > #content-area > #content-top-menu button:hover{
    background-color: #0b49ff;
}
#main-area > #content-area{
    display: flex;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 20px;
    flex-direction: column;
}
#main-area > #content-area > #content{
    width: 100%;
    margin: 20px 0px;
}
#main-area > #content-area > #content > table{
    width: 100%;
    /* height: 450px; */
}
#main-area > #content-area > #content > table th,
#main-area > #content-area > #content > table td{
    padding: 10px 10px;
    text-align: center;
}
#main-area > #content-area > #content > table td:nth-child(2){
    text-align: left;
}
#main-area > #content-area > #content > table th:first-child,
#main-area > #content-area > #content > table td:first-child{
    border-radius: 10px 0px 0px 10px;
}
#main-area > #content-area > #content > table th:last-child,
#main-area > #content-area > #content > table td:last-child{
    border-radius: 0px 10px 10px 0px;
}
#main-area > #content-area > #content > table > thead{
    background-color: #f4f7f9;
    color: #8793ab;
}
#main-area > #content-area > #content > table > tbody tr:nth-child(2n){ /* 짝수 행 색 변환 */
    background-color: #f9fbfc;
}
#main-area > #content-area > #pagination{
    display: flex;
    justify-content: center;
}
#main-area > #content-area > #pagination > a{
    margin: 0px 5px;
    background: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    color: #95a0b6;
    cursor: pointer;
    
}
#main-area > #content-area > #pagination > a:hover{
    background-color: #2a61ff;
    color: #ffffff;
}
#main-area > #content-area > #pagination > a.active{
    background-color: #2a61ff;
    color: #ffffff;
}
#main-area > #content-area > #content-bottom-menu{
    display: flex;
    justify-content: flex-end;
}
#main-area > #content-area > #content-bottom-menu > button{
    background-color: #275efe;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 0px 5px;
}
#main-area > #content-area > #content-bottom-menu > button:hover{
    background-color: #0b49ff;
}

#main-area > #bottom-area{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    height:10px;
}


/********************************************
 * 글 쓰기 입력 폼
 ********************************************/
#main-area > #content-area > #content-top-menu.reverse{
    justify-content: flex-start;
}
#main-area > #content-area > #content-top-menu h2{
    color: #142c5c;
}
#main-area > #content-area > #content > form > .form-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#main-area > #content-area > #content > form > .form-item.disabled{
    opacity: 0.5;
}
#main-area > #content-area > #content > form > .form-item > label{
    font-weight: bold;
    color: #142c5c;
    margin-bottom: 5px;
}
#main-area > #content-area > #content > form > .form-item > input[type="text"]:disabled{
    background-color: #dddfe5;
}
#main-area > #content-area > #content > form > .form-item > input,
#main-area > #content-area > #content > form > .form-item > textarea{
    margin: 0;
    padding: 10px 15px;
    background: #f2f6ff;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}
#main-area > #content-area > #content > form > .form-item > textarea{
    height: 200px;
    outline: none;
}
