/********************************************
 * 글 목차 페이지
 ********************************************/
#main-area > #content-area > #content > table{
    width: 100%;
    /* height: 450px; */
}
#main-area > #content-area > #content > table th,
#main-area > #content-area > #content > table td{
    padding: 10px 10px;
    text-align: center;
}
#main-area > #content-area > #content > table td:nth-child(2){
    text-align: left;
}
#main-area > #content-area > #content > table th:first-child,
#main-area > #content-area > #content > table td:first-child{
    border-radius: 10px 0px 0px 10px;
}
#main-area > #content-area > #content > table th:last-child,
#main-area > #content-area > #content > table td:last-child{
    border-radius: 0px 10px 10px 0px;
}
#main-area > #content-area > #content > table > thead{
    background-color: #f4f7f9;
    color: #8793ab;
}
#main-area > #content-area > #content > table > tbody tr:nth-child(2n){ /* 짝수 행 색 변환 */
    background-color: #f9fbfc;
}
#main-area > #content-area > #pagination{
    display: flex;
    justify-content: center;
}
#main-area > #content-area > #pagination > a{
    margin: 0px 5px;
    background: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    color: #95a0b6;
    cursor: pointer;
    
}
#main-area > #content-area > #pagination > a:hover{
    background-color: #2a61ff;
    color: #ffffff;
}
#main-area > #content-area > #pagination > a.active{
    background-color: #2a61ff;
    color: #ffffff;
}
#main-area > #content-area > #content-bottom-menu{
    display: flex;
    justify-content: flex-end;
}
#main-area > #bottom-area{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    height:10px;
}


/********************************************
 * 글 쓰기 및 수정 페이지
 ********************************************/
#main-area > #content-area > #content-top-menu.reverse{
    justify-content: flex-start;
}
#main-area > #content-area > #content-top-menu h2{
    color: #142c5c;
}
#main-area > #content-area > #content > form > .form-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#main-area > #content-area > #content > form > .form-item.disabled{
    opacity: 0.5;
}
#main-area > #content-area > #content > form > .form-item > label{
    font-weight: bold;
    color: #142c5c;
    margin-bottom: 5px;
}
#main-area > #content-area > #content > form > .form-item > input[type="text"]:disabled{
    background-color: #dddfe5;
}
#main-area > #content-area > #content > form > .form-item > textarea{
    height: 200px;
    outline: none;
}

/********************************************
 * 글 상세 보기 페이지
 ********************************************/
#main-area > #content-area > #content-top-menu.border{
    border-bottom: 1px solid #94a0b9;
}
#main-area > #content-area > #content-top-menu.between{
    justify-content: space-between;
}
#main-area > #content-area > #content-top-menu > #content-info{
    display: flex;
    align-items: center;
}
#main-area > #content-area > #content-top-menu > h2{
    /* margin-bottom:10px; */
}
#main-area > #content-area > #content-top-menu > #content-info > #profile-img{
    width: 35px;
    height: 35px;
    background-color: #eaeaea;
    border-radius: 100%;
    margin-right: 10px;;
}
#main-area > #content-area > #content-top-menu > #content-info > #write-info > p{
    margin: 0px;
}
#main-area > #content-area > #content-top-menu > #content-info > #write-info > p:first-child{
    font-weight: bold;
    color: #142c5c;
}
#main-area > #content-area > #content-top-menu > #content-info > #write-info > p:last-child{
    color: #94a0b9;
}
#main-area > #content-area > #content > #text{
    height: 300px;
}

/********************************************
 * 회원가입 페이지
 ********************************************/
 #main-area > #content-area > #content-top-menu.center{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main-area > #content-area > #content > form > .form-item > .form-item-set{
    display: flex;
}
#main-area > #content-area > #content > form > .form-item > .form-item-set > input{
    /* flex: 1; */
}
#main-area > #content-area > #content > form > .form-item > .form-item-sub{
    display: none;
    margin-top: 5px;
}
#main-area > #content-area > #content > form > .form-item > .form-item-sub > #form-email-auth-area{
    border-bottom: 1px #e0e0e0 solid;
    padding-right: 10px;
}
#main-area > #content-area > #content > form > .form-item > .form-item-sub > #form-email-auth-area.disabled{
    background: #ececec;
    border-radius: 10px;
}
#main-area > #content-area > #content > form > .form-item > .form-item-sub > #form-email-auth-area > input{
    background: none;
    font-size: 0.7em;
}
#main-area > #content-area > #content > form > .form-item > .form-item-sub > #form-email-auth-area > span{
    font-size: 0.7em;
    color:#757575;
}
#main-area > #content-area > #content > form > .form-item > .form-item-sub > button{
    background: #ffffff;
    border: 1px solid #275efe;
    color: #275efe;
    font-size: 0.7em;
    padding: 5px 10px;
    margin: 0px 3px;
}

/********************************************
 * 프로필 페이지
 ********************************************/
 #main-area > #content-area > #content > .profile-area{}
 #main-area > #content-area > #content > .profile-area > .profile-info{}
 #main-area > #content-area > #content > .profile-area > .profile-info > .profile-item{}
 #main-area > #content-area > #content > .profile-area > .profile-info > .profile-item.image-area{
    display: flex;
    justify-content: center;
}
#main-area > #content-area > #content > .profile-area > .profile-info > .profile-item.image-area > img{
    border-radius: 50%;
}
 #main-area > #content-area > #content > .profile-area > .profile-info > .profile-item > .profile-item-key{
    font-weight: bold;
    color: #142c5c;
    margin-bottom: 5px;
 }
 #main-area > #content-area > #content > .profile-area > .profile-info > .profile-item > .profile-item-value{
    font-size: 0.9em;
    margin: 0;
    padding: 10px 15px;
    background: #f2f6ff;
    border: none;
    border-radius: 10px;
 }
 /********************************************
 * 프로필 수정 페이지
 ********************************************/
#main-area > #content-area > #content > form > .form-item.image-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-area > #content-area > #content > form > .form-item.image-area > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#main-area > #content-area > #content > form > .form-item.image-area > .image-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-area > #content-area > #content > form > .form-item.image-area > .image-form > label {
    font-size: 0.8em;
    padding: 5px 10px;
    border: 1px solid #94a0b9;
    color: #142c5c;
    cursor: pointer;
    margin-right: 5px;
}
#main-area > #content-area > #content > form > .form-item.image-area > .image-form > label:hover {
    background:#eaeaea;
}
#main-area > #content-area > #content > form > .form-item.image-area > .image-form > input[type='file'] {
    display: none;
}
#main-area > #content-area > #content > form > .form-item.image-area > .image-form > input[type='button'] {
    font-size: 0.8em;
    padding: 5px 10px;
    /* border: 1px solid #94a0b9; */
    color: #ffffff;
    background-color: #275efe;
    cursor:pointer;
}
#main-area > #content-area > #content > form > .form-item.image-area > .image-form > input[type='button']:hover {
    background-color: #0b49ff;
}
#main-area > #content-area > #content > form.profile-area > .form-item > textarea{
    height:100px;
}