<html>

{% include 'head.html' %}

{% block body %}
<body>
    <div class="wrap">
        <div id="side-area">
            <div id="logo-area">
                <h1 onclick="location.href='/'">LOGO</h1>
            </div>
            <div id="profile-area" onclick="location.href='/profile'">
                <img id="profile-img" src="
                {%if user.profile_name %}
                {{ url_for('users.image_serve', filename = user.profile_name ) }}
                {% else %}
                /static/no-profile.png
                {% endif %}
                " alt="" srcset="">
                <div id="profile-info">
                    <p>{{ user.name }}</p>
                </div>
            </div>
            <div id="sidebar">
                <a class="side-item active" href="/">Home</a>
            </div>
        </div>
        <div id="main-area">
            <div id="top-area">
                <div id="title">
                    {% block title %}
                    <h2>Board</h2>
                    <p>This is Simple Board</p>
                    {% endblock %}
                </div>
            </div>
            <div id="content-area">
                {% block content %}
                {% endblock %}
            </div>
            <div id="bottom-area">
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block common_script %}
{% if response %}
<script>
    
    {% if response.msg%}
    alert("[{{ response.status }}]\n{{response.msg}}")
    {% endif %}

    {% if response.redirect_url %}
    location.href="{{ response.redirect_url }}"
    {% endif %}

</script>
{% endif %}
{% endblock %}

{% block custom_script %}
<script></script>
{% endblock %}

</html>